#top-nav-big {
    display: block;
}
#top-nav-small {
    display: none;
}
/* @media screen and (max-width: 991px){
    #top-nav-big {
        display: none;
    }
    #top-nav-small {
        display: block;
    }
    .tab-content .tab-pane .row .col-md-6 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
} */